@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*:root{
  background-color: rgb(39 62 83  );
  background-color: rgb(16, 42, 66);
  color: #ebf6ff;
}

.button-bg{
  background-color: rgb(16, 42, 66);
}

.section-bg{
  background-color: rgb(9, 62 ,83);
}


.button-bg:hover {
  background-color: rgb(33 80 122  );
  color: #fdfeff;
  transition: 0.3s;
}

.submit{
  background-color: rgb(12, 86, 116);
}

.submit:hover {
  background-color: rgb(33 80 122  );
  color: #fdfeff;
  transition: 0.3s;

}

.form-bg-color{
  background-image:linear-gradient(rgba(0, 0, 0, 0.76),rgb(16, 42, 66,0.800)),url(./assets/home2.jpg) ;
  /* background-image: url("./assets/home2.jpg"); */
  background-color: rgb(16, 42, 66);
  background-size: cover;
  background-position: center;

}

/* menu styles */
.menu{
  background-color:rgb(16, 42, 66);
}

.menu a{
  color: #e7f6ff;
}

.menu a :hover{
  color: rgb(33 80 122  );
}

.menu a :ctive{
  color: #c9d36c;
}

#menu-toggle:checked + #menu {
  display: block;
}
/* hero styles */

.background-clr{
  background-color: rgb(16, 42, 66);
}

.background-clr:hover {
  background-color: #e7f6ff;
  color: rgb(33 80 122  );
}

.hero-bg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.76),rgb(16, 42, 66,0.800)),url(./assets/robot.jpeg) ;
  background-size: cover;
  background-position: center;
}

.cta-bg{
  background-image:linear-gradient(rgba(1, 56, 88, 0.253),rgba(16, 42, 66, 0.671)),url(./assets/home.jpg) ;
  background-size: cover;
  background-position: center;
}

.about-bg{
  background-image:linear-gradient(rgba(1, 56, 88, 0.521),rgba(16, 42, 66, 0.671)),url(./assets/MachineLoad.png) ;
  background-size: cover;
  background-position: center;
}

.service-title{
  color: rgb(39 62 83  );
}